<html>
<head>
<title>Home</title>
<!--<link href="style.css" rel="stylesheet" type="text/css" />-->
</head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<body>
<h1>Home</h1>

[ Home | <a href="employees.html">Employees</a> | <a href="customers.html">Customers</a> | <a href="appliances">Appliances</a> | <a href="parts.html">Parts</a> | <a href="sales.html">Sales</a> | <a href="repairs.html">Repairs</a> | <a href="employeesRepairs.html">Employees Repairs</a> ]
<div id="browse" style="display: block">
<p><strong>Welcome to the Accurate Appliance database designed to keep track of employees, 
customers, parts available, appliances available, sales, and repairs! Select from the header to browse, 
add, update, or delete items in each respective list. </strong></p>


</body>
</html>
